@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;

}


.top-banner {
    display: flex;
    background-color: black;
    border-radius: 10px;

}

.banner-caption {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
}

.banner-headline h1 {
    font-size: 50px;

}

.banner-button {
    margin-top: 50px;
}

.banner-button a {
    background-color: #DD0000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.fa-arrow-right {
    color: white;
}


.banner-item {
    width: 50%;
    margin-left: 5%;
}

.banner-item img {
    width: 100%;
    height: 100%;
}

/* Play Section */

.grid-section {
    margin-top: 30px;
}

.side-bar {
    background-color: black;
    width: 30%;
    border-radius: 10px;
}

.side-bar-item {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 30px;
    padding: 30px;
}

.side-bar-item:hover {
    border: 2px solid blue;
    border-radius: 10px;
}



.side-bar-manue {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;


}

.side-bar-manue a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: black;

}